﻿
@{
    ViewBag.Title = "ForgetPass";
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Forgot Password | CHARGE BACK</title>
    <!-- Favicon-->
    <link rel="icon" href="~/AppCss/img/icon.ico" type="image/x-icon" sizes="16x16">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/AppCss/forget/css/animate.css" rel="stylesheet" />
    <link href="~/AppCss/forget/css/bootstrap - Copy.css" rel="stylesheet" />
    <link href="~/AppCss/forget/css/waves.css" rel="stylesheet" />
    <link href="~/AppCss/forget/css/style.css" rel="stylesheet" />


</head>

<body class="fp-page">
    @if (ViewBag.Message != null)
    {
        <text>
            <script>
                $(document).ready(function () {
                    alert("@ViewBag.Message");
                });
            </script>
        </text>
    }
    <div class="fp-box">
        <div class="logo">
            <a href="javascript:void(0);"><b>CHARGE BACK</b></a>
        </div>
        <div class="card">
            <div class="body">
                <form id="" method="POST">
                    <div class="msg">
                        Enter your email address that you used to register. We'll send you an email with your username and a
                        link to reset your password.
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">email</i>
                        </span>
                        <div class="form-line">
                            <input type="email" class="form-control" name="email" autocomplete="off" placeholder="Email" required autofocus>
                        </div>
                        <div style="margin-top: 10px;">
                            <span>@ViewBag.Message</span>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit" style="width: 100%; padding: 7px;">RESET MY PASSWORD</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="~/Login/Index">Sign In!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/AppCss/forget/script/jquery.min.js"></script>
    <script src="~/AppCss/forget/script/bootstrap.js"></script>
    <script src="~/AppCss/forget/script/forgot-password.js"></script>
    <script src="~/AppCss/forget/script/admin.js"></script>
    <script src="~/AppCss/forget/script/jquery.validate.js"></script>
    <script src="~/AppCss/forget/script/waves.js"></script>

</body>

</html>
