﻿@model ChargeBackEthoca.Models.Dto.SetUpDto
@{
    ViewBag.Title = "APPROVE";
}

<style>
    .text-header {
        font-size: 18px;
        font-weight: bold;
    }
    td {
        padding: 7px !important;
        font-size: 15px !important;
    }


    .media event {
        padding: 6px;
    }

    .media-body {
        padding: 6px !important;
        height: 40px !important;
    }

    .box-lis {
        width: 55px;
        height: 30px;
        border: none;
        background: none;
    }

    .fade {
        -webkit-transition: opacity .15s linear !important;
        -o-transition: opacity .15s linear !important;
        transition: opacity .15s linear !important;
    }

    .modal.fade .modal-dialog {
        transition: none !important;
        transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
    .hide_scoll::-webkit-scrollbar {
        display: none;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div class="noflex" style="display: flex; align-items: baseline;">
                    <div>
                        <h3 class="fontsmall" style="width: 250px;">ChargeBackSafe</h3>
                    </div>
                    <div class="flexbtn">
                        <div class="input-group">
                            <input type="button" class="btn btn1" value="MID ALIASES" id="tab1">
                        </div>
                        <div class="input-group">
                            <input type="button" class="btn btn2" value="PAYMENT DESCRIPTORS" id="tab2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12" id="insertAlias" >
                <div class="x_panel">
                    <div class="x_title">
                        <h2>APPROVE </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="row hide_scoll" id="dis1" style="overflow:scroll; height:700px">
                            <div class="col-md-12">
                                <select id="sort_mid" style="width:160px; float:right; border-radius:3px;" class="form-control" >
                                    <option class="text-center">Sort</option>
                                    <option value="1">MID</option>
                                    <option value="2">MID ALIASES</option>
                                </select>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">MID </th>
                                            <th class="text-center">MID ALIASES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.MidAlias)
                                        {
                                            <tr>
                                                <td class="text-center">@item.MID</td>
                                                <td class="text-center">@item.MIDAlias</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row hide_scoll" id="dis2" hidden style="overflow:scroll; height:700px">
                            <div class="col-md-12">
                                <select style="width:160px; float:right; border-radius:3px;" class="form-control" >
                                    <option class="text-center">Sort</option>
                                    <option>DELETED</option>
                                    <option>WAITING</option>
                                    <option>ACTIVE</option>
                                </select>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">MID ALIASES</th>
                                            <th class="text-center">DESCRIPTORS</th>
                                            <th>ACTIVE</th>
                                            <th class="text-center">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Descriptor)
                                        {
                                            <tr>
                                                <td width="30%" class="text-center">@item.MIDAlias</td>
                                                <td width="30%" class="text-center">@item.DESCRIPTOR</td>
                                                <td class="text-center" width="10%" style="display:flex; justify-content:center; align-content:center">
                                                    @using (Html.BeginForm("Edit", "Setup", new { ID = item.ID }, FormMethod.Get))
                                                    {
                                                        <button type="submit" rel="tooltip" title="Edit" class="btn btn-info">
                                                            <i class="fa fa-wrench"></i>
                                                        </button>
                                                    }
                                                    @using (Html.BeginForm("Delete", "Setup", new { ID = item.ID }, FormMethod.Post))
                                                    {
                                                        <button type="submit" rel="tooltip" title="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item')">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    }
                                                </td>
                                                <td class="text-center">
                                                    @if (item.REMARK == "ACTIVE")
                                                    {
                                                        <input value="@item.REMARK" class="form-control text-center" style="color:forestgreen; border:none" />
                                                    }
                                                    else if (item.REMARK == "DELETED")
                                                    {
                                                        <input value="@item.REMARK" class="form-control text-center" style="color:forestgreen; border:none" />
                                                    }
                                                    else
                                                    {
                                                        <select onchange="updatedata(this.value)" class="form-control text-center" style="border:none!important;">
                                                            <option class="text-center">@item.REMARK</option>
                                                            <option value="@item.ID" class="text-center">Done</option>
                                                        </select>
                                                    }
                                                </td>
                                                <td hidden><input hidden value="@item.STATUS" id="STAT" /></td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/AppScript/Setup.js"></script>