﻿@model ChargeBackEthoca.Models.Dto.SetUpDto
@{
    ViewBag.Title = "SETUP";
}

<style>
    .text-header {
        font-size: 18px;
        font-weight: bold;
    }

    .media event {
        padding: 6px;
    }

    td {
        padding: 7px !important;
        font-size: 15px !important;
    }

    .media-body {
        padding: 6px !important;
        height: 40px !important;
    }

    .box-lis {
        width: 55px;
        height: 30px;
        border: none;
        background: none;
    }

    .fade {
        -webkit-transition: opacity .15s linear !important;
        -o-transition: opacity .15s linear !important;
        transition: opacity .15s linear !important;
    }

    .modal.fade .modal-dialog {
        transition: none !important;
        transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .hide_scoll::-webkit-scrollbar {
        display: none;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div class="noflex" style="display: flex; align-items: baseline;">
                    <div>
                        <h3 class="fontsmall" style="width: 250px;">ChargeBackSafe</h3>
                    </div>
                    <div class="flexbtn">
                        <div class="input-group">
                            <input type="button" class="btn" value="MID ALIASES" id="btn1">
                        </div>
                        <div class="input-group">
                            <input type="button" class="btn" value="PAYMENT DESCRIPTORS" id="btn2">
                        </div>
                    </div>
                </div>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12" id="insertAlias">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>SETUP </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row hide_scoll" id="dis1" style="overflow:scroll; height:700px">
                            <div class="col-md-12">
                                <button data-toggle="modal" data-target="#mid" class="btn btn-success" style="float:right">CREATE</button>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">MID </th>
                                            <th class="text-center">MID ALIASES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.MidAlias)
                                        {
                                            <tr>
                                                <td class="text-center">@item.MID</td>
                                                <td class="text-center">@item.MIDAlias</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row hide_scoll" id="dis2" hidden style="overflow:scroll; height:700px">
                            <div class="col-md-12">
                                <button data-toggle="modal" data-target="#descriptor" class="btn btn-success" style="float:right">CREATE</button>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">MID ALIASES</th>
                                            <th class="text-center">DESCRIPTORS</th>
                                            <th>&nbsp;</th>
                                            <th class="text-center">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Descriptor)
                                        {
                                            <tr>
                                                <td width="30%" class="text-center">@item.MIDAlias</td>
                                                <td width="30%" class="text-center">@item.DESCRIPTOR</td>
                                                <td class="text-center" width="10%" style="display:flex">
                                                    @if (item.REMARK == "DELETED")
                                                    {
                                                        using (Html.BeginForm("Edit", "Setup", new { ID = item.ID }, FormMethod.Get))
                                                        {
                                                            <button type="submit" hidden rel="tooltip" title="Edit" class="btn btn-info">
                                                                <i class="fa fa-wrench"></i>
                                                            </button>
                                                        }
                                                        using (Html.BeginForm("Delete", "Setup", new { ID = item.ID }, FormMethod.Post))
                                                        {
                                                            <button type="submit" rel="tooltip" title="Delete" class="btn btn-danger" hidden onclick="return confirm('Are you sure you want to delete this item')">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        using (Html.BeginForm("Edit", "Setup", new { ID = item.ID }, FormMethod.Get))
                                                        {
                                                            <button type="submit" rel="tooltip" title="Edit" class="btn btn-info">
                                                                <i class="fa fa-wrench"></i>
                                                            </button>
                                                        }
                                                        using (Html.BeginForm("Delete", "Setup", new { ID = item.ID }, FormMethod.Post))
                                                        {
                                                            <button type="submit" rel="tooltip" title="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item')">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        }
                                                    }


                                                </td>
                                                <td class="text-center">@item.REMARK</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mid" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="~/Setup/Index" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title text-center">MID ALIASES</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label style="font-size: 16px;">MID</label>
                    <input class="form-control" id="key" type="text" name="MID" />
                    <input class="btn btn-secondary" type="button" value="check" required onclick="checkMid()" style=" position: absolute; top: 47px; right: 11px; border-radius: 0px !important;" />

                    <label style="font-size: 16px;">MID ALIASES</label>
                    <input class="form-control" type="text" name="MIDAlias" required />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" id="bedone" value="Submit" disabled>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal fade" id="descriptor" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="~/Setup/Desciptor" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title text-center">DESCRIPTOR</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label style="font-size: 16px;">MID ALIASES</label>
                    @Html.DropDownList("MIDAlias", new SelectList(ViewBag.MIDALiasList, "Value", "Text"), new { @class = "form-control", id = "midealias" })

                    <label style="font-size: 16px;">DESCRIPTOR</label>
                    <input type="text" class="form-control" required name="DESCRIPTOR" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>
<script src="~/AppScript/Setup-cl.js"></script>