﻿@model ChargeBackEthoca.Models.Dto.ProfileDto
@{
    ViewBag.Title = "SETTING";
}


<style>
    .text-header {
        font-size: 18px;
        font-weight: bold;
    }


    .media-body {
        padding: 6px !important;
        height: 40px !important;
    }

    .box-lis {
        width: 55px;
        height: 30px;
        border: none;
        background: none;
    }

    article.media {
        width: 100%;
        padding: 5px !important;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div style="display: flex;justify-content: space-between; align-items: baseline;">
                    <div>
                        <h3 class="fontsmall" style="width: 250px;">ChargeBackSafe</h3>
                    </div>
                </div>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="col-6 col-md-4 text-center">
                            <div class="x_content">
                                <article class="media event">
                                    <div class="media-body">
                                        <p>TIMEZONE</p>
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <p>CURRENT PASSWORD</p>
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <p>NEW PASSWORD</p>
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <p>PASSWORD CONFIRM</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 text-center">
                            <div class="x_content">
                                <article class="media event">
                                    <div class="media-body">
                                        @Html.DropDownList("TIMEZOME", new SelectList(ViewBag.ListZoneTime, "Value", "Text"), new { @class = "form-control", id = "time_zone" })
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <input id="txtPassOld" name="PASSWORD" type="password" class="form-control" placeholder="***" />
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <input id="txtPassNew" name="NEWPASSWORD" type="password" class="form-control" placeholder="***" />
                                    </div>
                                </article>
                                <article class="media event">
                                    <div class="media-body">
                                        <input id="txtChkPassNew" name="REPASSWORD" type="password" class="form-control" placeholder="***" />
                                    </div>
                                </article>
                                
                            </div>

                        </div>
                        <div class="col-12 text-center">
                            <article style="padding-top:20px;">
                                <a class="btn btn-danger" href="~/Transaction/Index">Cancel</a>
                                <button onclick="cleartextboxes();" class="btn btn-primary" type="reset">Reset</button>
                                <button type="button" onclick="ChangePass()" class="btn btn-success">Submit</button>
                            </article>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<input hidden id="ID" value="@Html.DisplayFor(model => model.ID)" readonly />
<input hidden id="oldsPass" value="@ViewBag.OldPass" />
<script src="~/AppScript/ChangePass.js"></script>