﻿@model ChargeBackEthoca.Models.Dto.NotifyDto
@{
    ViewBag.Title = "NOTIFICATIONS";
}

<style>
    .text-header {
        font-size: 18px;
        font-weight: bold;
    }

    .media event {
        padding: 6px;
    }

    td {
        padding: 7px !important;
        font-size: 15px !important;
    }

    .media-body {
        padding: 6px !important;
        height: 40px !important;
    }

    .box-lis {
        width: 55px;
        height: 30px;
        border: none;
        background: none;
    }

    .fade {
        -webkit-transition: opacity .15s linear !important;
        -o-transition: opacity .15s linear !important;
        transition: opacity .15s linear !important;
    }

    .modal.fade .modal-dialog {
        transition: none !important;
        transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .hide_scoll::-webkit-scrollbar {
        display: none;
    }

    .approve {
        width: 150px;
        margin: 0 auto;
    }
</style>
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div style="display: flex;justify-content: space-between; align-items: baseline;">
                    <div>
                        <h3 class="fontsmall" style="width: 250px;">ChargeBackSafe </h3>
                    </div>
                </div>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">

            <div class="col-md-12" id="insertAlias">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>NOTIFICATIONS </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-md-12 hide_scoll" style="overflow:scroll; height:700px">
                                <button data-toggle="modal" data-target="#mid" class="btn btn-success" style="float:right">CREATE</button>
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th class="text-center">EMAIL TO SEND ALERT TO</th>
                                            <th class="text-center">MID Alias</th>
                                            <th class="text-center">STATUS</th>
                                            <th class="text-center">Receive Daily Chargeback Report</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.DS_EMAIL)
                                        {
                                            <tr>
                                                <td width="30%" class="text-center">
                                                    @item.EMAIL_ALERT
                                                </td>
                                                <td width="30%" class="text-center">
                                                    @item.MIDAlias
                                                </td>
                                                <td width="10%" class="text-center">
                                                    @if (item.EMAIL_REQ_TYPE == 1)
                                                    {
                                                        <span style="color:forestgreen">ACTIVE</span>
                                                    }
                                                    else
                                                    {
                                                        <span>NON-ACTIVE</span>
                                                    }
                                                </td>
                                                <td hidden><input hidden value="@item.ID" id="clID" /></td>
                                                <td width="30%" class="text-center">
                                                    @Html.DropDownList("STATUS", new SelectList(ViewBag.Status, "Value", "Text", item.STATUS), new { @class = "form-control approve", @onchange = "updatedata(this.value," + item.ID + ")" })
                                                </td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mid" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="~/Notification/Index" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title text-center">ChargeBackSafe Daily</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <label style="font-size: 16px;">EMAIL</label>
                    <input type="email" name="EMAIL_ALERT" class="form-control" required />

                    <label style="font-size: 16px;">MID ALIASES</label>
                    @Html.DropDownList("MIDALIAS", new SelectList(ViewBag.MIDALiasList, "Value", "Text"), new { @class = "form-control" })

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </form>
        </div>

    </div>
</div>
<script src="~/AppScript/Notify.js"></script>