﻿
@{
    ViewBag.Title = "SETTINGADMIN";
}


<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 class="fontsmall">ChargeBackSafe</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>SETTING ADMIN</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">
                                                Email Alertdaily
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">

                                                <input type="text" id="" name="" required="required" class="form-control set_null">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="">
                                                Email Alert
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="" name="" required="required" class="form-control set_null">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="" class="col-form-label col-md-3 col-sm-3 label-align">Time Setting</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input id="" class="form-control set_null" name="">
                                            </div>
                                        </div>


                                    </form>

                                </div>
                                <div class="col-12 text-center">
                                    <article style="padding-top: 20px;">
                                        <a class="btn btn-danger smallbtn">Cancel</a>
                                        <button onclick="" class="btn btn-primary smallbtn" type="reset">Reset</button>
                                        <button type="button" onclick="" class="btn btn-success smallbtn">Submit</button>
                                    </article>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
