﻿
    .flexbtn {
        display: flex;
    }

    .butt1 {
        width: 150px;
        border-radius: 35px;
        margin-right: 60px;
    }

    .butt2 {
        width: 150px;
        border-radius: 35px;
    }

@media screen and (max-width: 375px) {
    
    .noflex {
        flex-direction: column;
    }
    

    .fontsmall {
        font-size: 22px;
        padding-top: 7px;
    }

    .flexbtn {
        margin-top: 10px;
    }

    .butt1 {
        width: 130px;
        font-size: 0.8rem;
    }

    .butt2 {
        width: 130px;
        font-size: 0.8rem;
    }

    .btn1 {
        font-size: 0.9rem;
        margin-right: 43px;
    }

    .btn2 {
        font-size: 0.9rem;
    }

    .title_right {
        padding-left: 20px;
    }

    .nav-sm .title_right {
        float: none;
        padding: 0px;
    }

    .nav-sm .flexbtn {
        flex-direction: column;
    }

    .media-body {
        font-size: 11px;
    }

    .smallbtn {
        font-size: 0.8rem;
        margin-top: 10px;
    }
}
