﻿@model ChargeBackEthoca.Models.Dto.EthocaDto
@{
    ViewBag.Title = "ALERTS";
}

<style>

    .fade {
        -webkit-transition: opacity .15s linear !important;
        -o-transition: opacity .15s linear !important;
        transition: opacity .15s linear !important;
    }

    .modal.fade .modal-dialog {
        transition: none !important;
        transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    .approve {
        font-size: 11px !important;
    }
</style>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <div class="noflex" style="display: flex; align-items: baseline;">
                    <div>
                        <h3 class="fontsmall" style="width: 250px;">ChargeBackSafe</h3>
                    </div>
                    <div class="flexbtn">
                        <div class="input-group">
                            <input type="button" class="btn btn-success butt1" value="Needs Response" id="tab1">
                        </div>
                        <div class="input-group">
                            <input type="button" class="btn btn-danger butt1" id="tab2" value="ARCHIVED">
                        </div>
                    </div>

                </div>
                
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>TRANSACTION </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12" id="notify">
                                <div class="card-box table-responsive" style="height:800px">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:160%">
                                        <thead>
                                            <tr>
                                                <th>ACTION</th>
                                                <th>ALERT EXPIRES</th>
                                                <th>UNIQUE ALERT</th>
                                                <th>MID NUMBER</th>
                                                <th>MID ALIAS</th>
                                                <th>PAYMENT DESCRIPTOR</th>
                                                <th>RECEIVED ON</th>
                                                <th>TRANSACTION DATE</th>
                                                <th>CARD TYPE</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>LAST 4 DIGITS OF CARD</th>
                                                <th>BIN(FIRST 6 DIGITS OF CARD</th>
                                                <th>ARN</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in ViewBag.Record)
                                            {
                                                <tr>
                                                    <td style="display:flex; justify-content:space-evenly; align-items:baseline">
                                                        <button data-toggle="modal" onclick="openRepo(this.value)" class="btn btn-block btn-success" value="@item.ROW_ID" style="width: 100px;font-size: 14px; height: 30px;font-weight: 400;">RESPOND</button>
                                                    </td>
                                                    <td>@item.EXD <span>hour</span></td>
                                                    <td>@item.issuer</td>
                                                    <td>@item.card_number</td>
                                                    <td>@item.merchant_descriptor</td>
                                                    <td>@item.initiated_by</td>
                                                    <td>@item.is_3d_secure</td>
                                                    <td>@item.transaction_timestamp</td>
                                                    <td>@item.card_bin</td>
                                                    <td>@item.amount</td>
                                                    <td>@item.currency</td>
                                                    <td>@item.card_last4</td>
                                                    <td>@item.transaction_type</td>
                                                    <td>@item.chargeback_reason_code</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-sm-12" id="achive" hidden>
                                <div class="card-box table-responsive" style="height:800px">
                                    <table id="datatable-fixed-header" class="table table-striped table-bordered" style="width:160%">
                                        <thead>
                                            <tr>
                                                <th>ACTION</th>
                                                @*<th>ALERT EXPIRES</th>*@
                                                <th>UNIQUE ALERT</th>
                                                <th>MID NUMBER</th>
                                                <th>MID ALIAS</th>
                                                <th>PAYMENT DESCRIPTOR</th>
                                                <th>RECEIVED ON</th>
                                                <th>TRANSACTION DATE</th>
                                                <th>CARD TYPE</th>
                                                <th>AMOUNT</th>
                                                <th>CURRENCY</th>
                                                <th>LAST 4 DIGITS OF CARD</th>
                                                <th>BIN(FIRST 6 DIGITS OF CARD</th>
                                                <th>ARN</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in ViewBag.Archived)
                                            {
                                                <tr>
                                                    <td width="10%">
                                                        @item.RESPOND
                                                    </td>
                                                    @*<td>@item.EXD</td>*@
                                                    <td>@item.issuer</td>
                                                    <td>@item.card_number</td>
                                                    <td>@item.merchant_descriptor</td>
                                                    <td>@item.initiated_by</td>
                                                    <td>@item.is_3d_secure</td>
                                                    <td>@item.transaction_timestamp</td>
                                                    <td>@item.card_bin</td>
                                                    <td>@item.amount</td>
                                                    <td>@item.currency</td>
                                                    <td>@item.card_last4</td>
                                                    <td>@item.transaction_type</td>
                                                    <td>@item.chargeback_reason_code</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- Refund -->
<div class="modal fade" id="respo" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">RESPOND</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <input hidden id="respondID" value="" />
                <label style="font-size: 16px;">REASON FOR REFUND</label>
                @Html.DropDownList("STATUS", new SelectList(ViewBag.Status, "Value", "Text"), new { @class = "form-control approve", id = "status" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" value="Confirm" onclick="PostRefund()">
            </div>
        </div>

    </div>
</div>
<script src="~/AppScript/Alert.js"></script>