﻿@model ChargeBackEthoca.Models.Dto.ProfileDto
@{
    ViewBag.Title = "PROFILE";
}


<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 class="fontsmall">ChargeBackSafe</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5  form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>INFORMATION</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-sm-12 ">
                            <div class="x_panel">
                                @Html.HiddenFor(model => model.MEMBER_ID)
                                <div class="x_content">
                                    <br />
                                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                                                First Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">

                                                <input type="text" id="first-name" name="FISRTNAME" value="@Html.DisplayFor(model => model.FIRST_NAME)" required="required" class="form-control set_null">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                                                Last Name <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input type="text" id="last-name" name="LASTNAME" required="required" value="@Html.DisplayFor(model => model.LAST_NAME)" class="form-control set_null">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Email</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input id="EMAIL" class="form-control set_null" type="text" value="@Html.DisplayFor(model => model.eMAIL)" name="EMAIL">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Phome</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input id="PHOME" class="form-control set_null" type="text" value="@Html.DisplayFor(model => model.PHONE)" name="PHOME">
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                            <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">ADDRESS</label>
                                            <div class="col-md-6 col-sm-6 ">
                                                <input id="ADDRESS" class="form-control set_null" type="text" value="@Html.DisplayFor(model => model.ADDRESS)" name="ADDRESS">
                                            </div>
                                        </div>
                                        @*<div class="item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    <div id="gender" class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                                                        </label>
                                                        <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                            <input type="radio" name="gender" value="female" class="join-btn"> Female
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>*@
                                        @*<div class="item form-group">
                                                <label class="col-form-label col-md-3 col-sm-3 label-align">
                                                    Date Of Birth <span class="required">*</span>
                                                </label>
                                                <div class="col-md-6 col-sm-6 ">
                                                    <input id="birthday" class="date-picker form-control" placeholder="dd-mm-yyyy" type="text" required="required" type="text" onfocus="this.type='date'" onmouseover="this.type='date'" onclick="this.type='date'" onblur="this.type='text'" onmouseout="timeFunctionLong(this)">
                                                    <script>
                                                        function timeFunctionLong(input) {
                                                            setTimeout(function () {
                                                                input.type = 'text';
                                                            }, 60000);
                                                        }
                                                    </script>
                                                </div>
                                            </div>*@
                                        <div class="ln_solid"></div>
                                        @*<div class="item form-group">
                                                <div class="col-md-6 col-sm-6 offset-md-3">
                                                    <a class="btn btn-primary" href="~/Home/Index">Cancel</a>
                                                    <button onclick="cleartextboxes();" class="btn btn-primary" type="reset">Reset</button>
                                                    <button type="button" class="btn btn-success">Submit</button>
                                                </div>
                                            </div>*@

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
