﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | CHRAGE BACK</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/AppCss/img/icon.ico" type="image/x-icon" sizes="16x16">
    <!--Style Css-->
    <link href="~/AppCss/css/green.css" rel="stylesheet" />
    <link href="~/AppCss/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/scroller.bootstrap.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/custom.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/nprogress.css" rel="stylesheet" />
    <link href="~/AppCss/css/font-awesome.css" rel="stylesheet" />
    <link href="~/AppCss/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/AppCss/css/animate.min.css" rel="stylesheet" />
    <script src="~/AppCss/script/jquery.min.js"></script>
</head>
<body class="login">
    @RenderBody()
    <hr />



    <script src="~/AppCss/script/custom.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>