﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | ChargeBackSafe</title>
    <link rel="icon" href="~/AppCss/img/icon.ico" type="image/x-icon" sizes="16x16">
    <link href="~/AppCss/css/app.css" rel="stylesheet" />
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- Datatables -->
    <link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    <link href="~/Content/css/Appcss1.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
</head>

<body class="nav-md">
    <style>
        #loading {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.7;
            background-color: #fff;
            z-index: 99;
        }

        #loading-image {
            z-index: 100;
        }
    </style>
    <div class="overlay"></div>
    <div id="loading">
        <img id="loading-image" src="~/AppCss/img/loading.gif" alt="Loading..."/>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>ChargeBackSafe</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        @*<div class="profile_pic">
                                <img src="images/img.jpg" alt="..." class="img-circle profile_img">
                            </div>*@
                        <div class="profile_info" style="width:100%">
                            <span>Welcome,</span>
                            <h2>@Session["USERNAME"]</h2>
                            <span>@Session["TimeZone"]</span>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a href="~/Transaction/Index"><i class="fa fa-desktop"></i>ALERTS</a>

                                </li>
                                <li>
                                    <a href="~/Stripe/Billing"><i class="fa fa-table"></i> BILLING </a>
                                </li>
                                <li class="appr_cl">
                                    <a href="~/Setup/Index"><i class="fa fa-bug"></i> SETUP </a>
                                </li>
                                <li class="appr_am" hidden>
                                    <a href="~/Setup/Appr"><i class="fa fa-bug"></i> SETUP </a>
                                </li>
                                <li>
                                    <a href="~/Notification/Index"><i class="fa fa-windows"></i> NOTIFICATIONS</a>
                                </li>

                                <li id="manage" hidden>
                                    <a><i class="fa fa-bar-chart-o"></i> DATA PRESENTATION <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Log/Index">LOG</a></li>
                                        <li><a href="~/Stripe/Index">STRIPE API</a></li>
                                        <li><a href="~/Notification/SettingAdmin">SETTING</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="~/Setting/Index"><i class="fa fa-sitemap"></i> SETTING </a>
                                </li>
                                <li>
                                    <a href="~/Login/LogOut"><i class="fa fa-clone"></i>LOGOUT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        @*<a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>*@
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="~/Login/Index">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @Session["USERNAME"]
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="~/Profile/Index">Profile</a>
                                    <a class="dropdown-item" href="~/Setting/Index">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Settings</span>
                                    </a>
                                    <a class="dropdown-item" href="javascript:;">Help</a>
                                    <a class="dropdown-item" href="~/Login/LogOut"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                </div>
                            </li>


                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            @RenderBody()

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    CHARGEBACKSAFE COPY RIGHT 2021 <a href="">ADMIN</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <input hidden value="@Session["ROLE"]" id="permisstion" />
    <script>
        $(window).on('load', function () {
            $('#loading').hide();
        }) 
    </script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="~/Content/vendors/iCheck/icheck.min.js"></script>
    <!-- Datatables -->
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>
    <script src="~/AppScript/Shared.js"></script>
</body>
</html>