﻿@model IEnumerable<ChargeBackEthoca.Models.Dto.ProfileDto>
@{
    ViewBag.Title = "BILLING";
}
@Html.Hidden("Get", Url.Action("GetBilling", "Payment"))

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3 class="fontsmall">ChargeBackSafe</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            BILLING
                            <small style="display: unset;">
                                <input class="ePay" type="button" onclick="ApiReq(this.value)" value="paid" style="background:none; border:none; color:forestgreen" />
                                <input class="ePay" type="button" onclick="ApiReq(this.value)" value="void " style="background:none; border:none; color:red" />
                            </small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card-box table-responsive" style="height:800px">
                                    <table id="datatable" class="table table-striped table-bordered" style="width:200%">
                                        <thead>
                                            <tr>
                                                <th width="5%">ACTION</th>
                                                <th width="5%">OBJECT</th>
                                                <th>ACCOUNT COUNTRY</th>
                                                <th>ACCOUNT NAME</th>
                                                <th>AMOUNT DUE</th>
                                                <th>AMOUNT PAID</th>
                                                <th>CURRENCY</th>
                                                <th width="15%">CREATED</th>
                                                <th>AMOUNT REMAINNG</th>
                                                <th>FEE AMOUNT</th>
                                                <th>ATTEMPT COUNT</th>
                                                <th>ATTEMPT</th>
                                                <th>AUTO ADVANCE</th>
                                                <th>BILLING REASON</th>
                                                <th>CHARGE</th>
                                                <th>COLLECTION METHOD</th>
                                                <th>CUSTOMER</th>
                                                <th>CUSTOMER ADDRESS</th>
                                                <th>CUSTOMER EMAIL</th>
                                                @*<th>hosted_invoice_url</th>
                                                    <th>invoice_pdf</th>*@
                                            </tr>
                                        </thead>
                                        <tbody id="reponse_billing">
                                            <tr>
                                                <td colspan="19" class="text-center">No Data Request !!!</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Billing -->
<div class="modal fade" id="bil" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">BILLING</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style=" height: 335px;">
                <span id="content_url" style="position: absolute; top: 40%; left: 32%; font-size: large; border: 1px solid; border-radius: 7px; padding: 10px;"></span>
            </div>
        </div>

    </div>
</div>
<input hidden value="@Session["UID"]" id="User" />
<input hidden value="@Session["CustomerId"]" id="customer" />
<script src="~/AppScript/billing.js"></script>

