﻿@model IEnumerable<ChargeBackEthoca.Models.Dto.ProfileDto>
@{
    ViewBag.Title = "MEMBER";
}
<style>

    .fade {
        -webkit-transition: opacity .15s linear !important;
        -o-transition: opacity .15s linear !important;
        transition: opacity .15s linear !important;
    }

    .modal.fade .modal-dialog {
        transition: none !important;
        transition: none !important;
        transition: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }
</style>
<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>ChargeBackSafe</h3>
            </div>

            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12  ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Member</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Settings 1</a>
                                    <a class="dropdown-item" href="#">Settings 2</a>
                                </div>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title">NAME </th>
                                        <th class="column-title">USERNAME</th>
                                        <th class="column-title">ADDRESS</th>
                                        <th class="column-title">LASTNAME</th>
                                        <th class="column-title">PHONE </th>
                                        <th class="column-title">CUSTOMER ID</th>
                                        <th class="column-title">MERCHANT ID</th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                        <th class="bulk-actions" colspan="7">
                                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.FIRST_NAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.LAST_NAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.ADDRESS)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.USERNAME)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.PHONE)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(ModelItem => item.CustomerId)
                                        </td>
                                        <td>
                                            &nbsp;
                                        </td>

                                        <td class="last text-center" style="width:15%">
                                            <button class="btn btn-success" value="@item.ID" onclick="vUser(this.value)">View</button>
                                            <button class="btn btn-primary" onclick="alert('Coming Soon')">Edit</button>
                                            <button class="btn btn-danger" onclick="alert('Coming Soon')">Delete</button>
                                        </td>
                                    </tr>
                                        
                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->


<div class="modal fade" id="Info" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">INFORMATION</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <label style="font-size: 16px;">FIRSTNAME</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">LASTNAME</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">ADDRESS</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">USERNAME</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">PHONE</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">CUSTOMER ID</label>
                <input type="text" class="form-control" placeholder="****" value="" />
                <label style="font-size: 16px;">MERCHANT ID</label>
                <input type="text" class="form-control" placeholder="****" value="" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" value="Confirm" onclick="PostRefund()">
            </div>
        </div>

    </div>
</div>


<script>
    function vUser(ID) {
        alert(ID);
    }

</script>